# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Data & Models
data/
models/
*.db
*.sqlite3

# IDE
.vscode
.idea

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db
